nav.nav-pills > div > a.nav-link.active {
    background-color: #198754;
}


table.__userview_table {

    table-layout: fixed;
    height: fit-content;

    border-collapse: separate;
    border-spacing: 0;

}

table.__userview_table thead {

    position: sticky;
    top: 0;

}

.__userview_table_selector_column {

    width: 32px;
    text-align: center;

}