nav.nav-pills > div > a.nav-link.active {
    background-color: #198754;
}

nav.navbar > a.nav-link.active {
    background-color: #198754;
}

.__section {

    height: 100vh;
    overflow-y: scroll;

}

table.__userview_table {

    table-layout: fixed;
    height: fit-content;

    border-collapse: separate;
    border-spacing: 0;

}

table.__userview_table thead {

    position: sticky;
    top: 0;

}

.__userview_table_selector_column {

    width: 32px;
    text-align: center;

}

.__storage_unit_dropdown .dropdown-item {
    cursor: pointer;
}

.__storage_unit_dropdown .dropdown-item span.unit {
    float: right;
}

.__section.__section_userview_details {
    max-height: 100vh;
}

tr.data_entry.selected > td {
    background-color: #E5E6E7;
}