nav.nav-pills > div > a.nav-link.active {
    background-color: #0D6EFD;
}

nav.navbar > a.nav-link.active {
    background-color: #0D6EFD;
}

#directory_navigator {

    display: inline-block;

    flex-grow: 1;
    flex-shrink: 2;
    min-width: 0;

}

#directory_navigator_list {

    background-color: #EEEFF0;

    letter-spacing: normal;

    white-space: nowrap;
    flex-wrap: nowrap;

    overflow-x: scroll;

}

#directory_navigator_list > li.breadcrumb-item {
    display: contents;
}

.breadcrumb-item + .breadcrumb-item::before { 
    padding-left: var(--bs-breadcrumb-item-padding-x);
}

#directory_navigator_list > li.breadcrumb-item > a {
    text-decoration: none;
}

#directory_navigator_list > li.breadcrumb-item > a:hover {
    text-decoration: underline;
}

button.__rounded_button > i.bi-arrow-clockwise, button.__rounded_button > i.bi-three-dots-vertical {

    position: relative;
    top: 1px;

}

div.__display_manager_scheme_list, div.__display_manager_scheme_grid {
    overflow-y: scroll;
}

table.__fileview_table {

    table-layout: fixed;
    height: fit-content;

    border-collapse: separate;
    border-spacing: 0;

}

table.__fileview_table thead {

    position: sticky;
    top: 0;
    
}

th.__filetable_icon {

    width: 32px;
    text-align: center;

}

.__toast_fileupload_label_value {

    overflow-x: scroll;
    overflow-y: hidden;

    white-space: nowrap;
    max-width: 60%;

}

form.__search_filters_dropdown {
    width: 400px;
}

div.__data_entry_card_info {
    
    overflow-y: scroll;
    white-space: nowrap;
    z-index: 2;

}

i.__data_entry_card_small_icon {
    
    position: sticky;
    left: 0;
    background-color: #F7F7F7;

}

button.__entry_properties {
    z-index: 2;
}

button.__entry_properties:hover {
    background-color: #C0C4C8;
}

th.__filetable_properties_column {
    width: 64px;
}

i.bi.__data_entry_card_big_icon {
    font-size: 3em;
}

button.__card_click_captor {
    opacity: 0;
}